<div class="add-movie-form">
    <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" required>
        </div>
        <div class="form-group">
            <label for="director">Director</label>
            <input type="text" id="director" formControlName="director" required>
        </div>
        <div class="form-group">
            <label for="releasedate">Release Date</label>
            <input type="text" id="releasedate" formControlName="releasedate" required>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select id="category" formControlName="category" required>
                <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!addMovieForm.valid">Add Movie</button>
    </form>
</div>